.position{
    position: relative;
    top : 46px
}
.positionBtn{
    position: relative;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}
.flexEnd{
    display: flex;
    justify-content: end;
}
.flexCenter{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .positionBtn{
        position: relative;
        top : -50px;
    }
    .position{
        position: relative;
        top : 85px
    }
}